Service References/QCConnectWS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://quantumconceptscorp.com/connect/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://quantumconceptscorp.com/connect/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://quantumconceptscorp.com/connect/">
      <s:element name="CreateErrorReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceUniqueID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stackTrace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateErrorReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateErrorReportResult" type="tns:ErrorReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorReport">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorReportID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Reported" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Application" type="tns:Application" />
          <s:element minOccurs="0" maxOccurs="1" name="Device" type="tns:Device" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstallerFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstallerFileExtension" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Device">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceUniqueID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateFeedbackResult" type="tns:Feedback" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Feedback">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FeedbackID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Reported" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Application" type="tns:Application" />
          <s:element minOccurs="0" maxOccurs="1" name="Device" type="tns:Device" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateDownloadLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationVersionID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDownloadLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDownloadLogResult" type="tns:DownloadLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DownloadLog">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DownloadLogID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationVersionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationVersion" type="tns:ApplicationVersion" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicationVersion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationVersionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UpgradeFromApplicationVersionID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Major" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Minor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Build" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Revision" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Released" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseNotes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseEncryptionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Application" type="tns:Application" />
          <s:element minOccurs="0" maxOccurs="1" name="UpgradeFromApplicationVersion" type="tns:ApplicationVersion" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="tns:Version" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Version" />
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authorization" type="tns:Authorization" />
      <s:complexType name="Authorization">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Secret" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="RegisterApplicationForDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceUniqueID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterApplicationForDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterApplicationForDeviceResult" type="tns:ApplicationRegistration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApplicationRegistration">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationRegistrationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationVersionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Registered" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationVersion" type="tns:ApplicationVersion" />
          <s:element minOccurs="0" maxOccurs="1" name="Device" type="tns:Device" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterApplicationForDevice2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceUniqueID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterApplicationForDevice2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterApplicationForDevice2Result" type="tns:ApplicationRegistration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpgrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpgradeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckForUpgradeResult" type="tns:ApplicationVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLicenseForPurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="publisher" type="tns:ApplicationVersionDistributionPublisher" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isTrial" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="adjustedPrice" nillable="true" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ApplicationVersionDistributionPublisher">
        <s:restriction base="s:string">
          <s:enumeration value="Marketplace" />
          <s:enumeration value="Mobihand" />
          <s:enumeration value="Handango" />
          <s:enumeration value="QuantumConcepts" />
          <s:enumeration value="QuantumConceptsViaPaypal" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateLicenseForPurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateLicenseForPurchaseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="licenseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailLicenseResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActivateLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="activationProperties" type="tns:ArrayOfActivationProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfActivationProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ActivationProperty" nillable="true" type="tns:ActivationProperty" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ActivationProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivateLicenseResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="activationFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLicenseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateLeaderBoard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateLeaderBoardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateOrUpdateLeaderBoardResult" type="tns:LeaderBoard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LeaderBoard">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LeaderBoardID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Application" type="tns:Application" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOrUpdateLeaderBoardEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceUniqueID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateLeaderBoardEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateOrUpdateLeaderBoardEntryResult" type="tns:LeaderBoardEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LeaderBoardEntry">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LeaderBoardEntryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaderBoardID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserDeviceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaderBoard" type="tns:LeaderBoard" />
          <s:element minOccurs="0" maxOccurs="1" name="UserDevice" type="tns:UserDevice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserDevice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserDeviceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Device" type="tns:Device" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetApplicationByInstaller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="installerFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="installerFileExtension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationByInstallerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationByInstallerResult" type="tns:Application" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePurchaseForLatestVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="publisher" type="tns:ApplicationVersionDistributionPublisher" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="adjustedPrice" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePurchaseForLatestVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePurchaseForLatestVersionResult" type="tns:Purchase" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Purchase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PurchaseID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationVersionDistributionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjustedPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationVersionDistribution" type="tns:ApplicationVersionDistribution" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicationVersionDistribution">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationVersionDistributionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationVersionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Publisher" type="tns:ApplicationVersionDistributionPublisher" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Share" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationVersion" type="tns:ApplicationVersion" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreatePurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="publisher" type="tns:ApplicationVersionDistributionPublisher" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="adjustedPrice" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePurchaseResult" type="tns:Purchase" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationByKeyResult" type="tns:Application" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationVersionByApplicationIDAndVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationVersionByApplicationIDAndVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationVersionByApplicationIDAndVersionResult" type="tns:ApplicationVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestApplicationVersionByApplicationID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestApplicationVersionByApplicationIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestApplicationVersionByApplicationIDResult" type="tns:ApplicationVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateErrorReportSoapIn">
    <wsdl:part name="parameters" element="tns:CreateErrorReport" />
  </wsdl:message>
  <wsdl:message name="CreateErrorReportSoapOut">
    <wsdl:part name="parameters" element="tns:CreateErrorReportResponse" />
  </wsdl:message>
  <wsdl:message name="CreateFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:CreateFeedback" />
  </wsdl:message>
  <wsdl:message name="CreateFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:CreateFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDownloadLogSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDownloadLog" />
  </wsdl:message>
  <wsdl:message name="CreateDownloadLogSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDownloadLogResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDownloadLogAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="RegisterApplicationForDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterApplicationForDevice" />
  </wsdl:message>
  <wsdl:message name="RegisterApplicationForDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterApplicationForDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterApplicationForDevice2SoapIn">
    <wsdl:part name="parameters" element="tns:RegisterApplicationForDevice2" />
  </wsdl:message>
  <wsdl:message name="RegisterApplicationForDevice2SoapOut">
    <wsdl:part name="parameters" element="tns:RegisterApplicationForDevice2Response" />
  </wsdl:message>
  <wsdl:message name="CheckForUpgradeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckForUpgrade" />
  </wsdl:message>
  <wsdl:message name="CheckForUpgradeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckForUpgradeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckForUpgradeAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="CreateLicenseForPurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLicenseForPurchase" />
  </wsdl:message>
  <wsdl:message name="CreateLicenseForPurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLicenseForPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateLicenseForPurchaseAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="EmailLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:EmailLicense" />
  </wsdl:message>
  <wsdl:message name="EmailLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:EmailLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="EmailLicenseAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="ActivateLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateLicense" />
  </wsdl:message>
  <wsdl:message name="ActivateLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateLicenseAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLicense" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLeaderBoardSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLeaderBoard" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLeaderBoardSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLeaderBoardResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLeaderBoardAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLeaderBoardEntrySoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLeaderBoardEntry" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLeaderBoardEntrySoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateLeaderBoardEntryResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateLeaderBoardEntryAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="GetApplicationByInstallerSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationByInstaller" />
  </wsdl:message>
  <wsdl:message name="GetApplicationByInstallerSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationByInstallerResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationByInstallerAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="CreatePurchaseForLatestVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePurchaseForLatestVersion" />
  </wsdl:message>
  <wsdl:message name="CreatePurchaseForLatestVersionSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePurchaseForLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePurchaseForLatestVersionAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="CreatePurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePurchase" />
  </wsdl:message>
  <wsdl:message name="CreatePurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePurchaseAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="GetApplicationByKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationByKey" />
  </wsdl:message>
  <wsdl:message name="GetApplicationByKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationByKeyAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="GetApplicationVersionByApplicationIDAndVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationVersionByApplicationIDAndVersion" />
  </wsdl:message>
  <wsdl:message name="GetApplicationVersionByApplicationIDAndVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationVersionByApplicationIDAndVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationVersionByApplicationIDAndVersionAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="GetLatestApplicationVersionByApplicationIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestApplicationVersionByApplicationID" />
  </wsdl:message>
  <wsdl:message name="GetLatestApplicationVersionByApplicationIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestApplicationVersionByApplicationIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestApplicationVersionByApplicationIDAuthorization">
    <wsdl:part name="Authorization" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CreateErrorReport">
      <wsdl:input message="tns:CreateErrorReportSoapIn" />
      <wsdl:output message="tns:CreateErrorReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateFeedback">
      <wsdl:input message="tns:CreateFeedbackSoapIn" />
      <wsdl:output message="tns:CreateFeedbackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDownloadLog">
      <wsdl:input message="tns:CreateDownloadLogSoapIn" />
      <wsdl:output message="tns:CreateDownloadLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterApplicationForDevice">
      <wsdl:input message="tns:RegisterApplicationForDeviceSoapIn" />
      <wsdl:output message="tns:RegisterApplicationForDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterApplicationForDevice2">
      <wsdl:input message="tns:RegisterApplicationForDevice2SoapIn" />
      <wsdl:output message="tns:RegisterApplicationForDevice2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckForUpgrade">
      <wsdl:input message="tns:CheckForUpgradeSoapIn" />
      <wsdl:output message="tns:CheckForUpgradeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateLicenseForPurchase">
      <wsdl:input message="tns:CreateLicenseForPurchaseSoapIn" />
      <wsdl:output message="tns:CreateLicenseForPurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailLicense">
      <wsdl:input message="tns:EmailLicenseSoapIn" />
      <wsdl:output message="tns:EmailLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateLicense">
      <wsdl:input message="tns:ActivateLicenseSoapIn" />
      <wsdl:output message="tns:ActivateLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLicense">
      <wsdl:input message="tns:ValidateLicenseSoapIn" />
      <wsdl:output message="tns:ValidateLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLeaderBoard">
      <wsdl:input message="tns:CreateOrUpdateLeaderBoardSoapIn" />
      <wsdl:output message="tns:CreateOrUpdateLeaderBoardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLeaderBoardEntry">
      <wsdl:input message="tns:CreateOrUpdateLeaderBoardEntrySoapIn" />
      <wsdl:output message="tns:CreateOrUpdateLeaderBoardEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationByInstaller">
      <wsdl:input message="tns:GetApplicationByInstallerSoapIn" />
      <wsdl:output message="tns:GetApplicationByInstallerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePurchaseForLatestVersion">
      <wsdl:input message="tns:CreatePurchaseForLatestVersionSoapIn" />
      <wsdl:output message="tns:CreatePurchaseForLatestVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePurchase">
      <wsdl:input message="tns:CreatePurchaseSoapIn" />
      <wsdl:output message="tns:CreatePurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationByKey">
      <wsdl:input message="tns:GetApplicationByKeySoapIn" />
      <wsdl:output message="tns:GetApplicationByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersionByApplicationIDAndVersion">
      <wsdl:input message="tns:GetApplicationVersionByApplicationIDAndVersionSoapIn" />
      <wsdl:output message="tns:GetApplicationVersionByApplicationIDAndVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestApplicationVersionByApplicationID">
      <wsdl:input message="tns:GetLatestApplicationVersionByApplicationIDSoapIn" />
      <wsdl:output message="tns:GetLatestApplicationVersionByApplicationIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateErrorReport">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreateErrorReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFeedback">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreateFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDownloadLog">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreateDownloadLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateDownloadLogAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterApplicationForDevice">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/RegisterApplicationForDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterApplicationForDevice2">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/RegisterApplicationForDevice2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForUpgrade">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CheckForUpgrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckForUpgradeAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLicenseForPurchase">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreateLicenseForPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateLicenseForPurchaseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailLicense">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/EmailLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EmailLicenseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateLicense">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/ActivateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ActivateLicenseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicense">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/ValidateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateLicenseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLeaderBoard">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreateOrUpdateLeaderBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateOrUpdateLeaderBoardAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLeaderBoardEntry">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreateOrUpdateLeaderBoardEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateOrUpdateLeaderBoardEntryAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationByInstaller">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/GetApplicationByInstaller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetApplicationByInstallerAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchaseForLatestVersion">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreatePurchaseForLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreatePurchaseForLatestVersionAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchase">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/CreatePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreatePurchaseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationByKey">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/GetApplicationByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetApplicationByKeyAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersionByApplicationIDAndVersion">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/GetApplicationVersionByApplicationIDAndVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetApplicationVersionByApplicationIDAndVersionAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestApplicationVersionByApplicationID">
      <soap:operation soapAction="http://quantumconceptscorp.com/connect/GetLatestApplicationVersionByApplicationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLatestApplicationVersionByApplicationIDAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateErrorReport">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreateErrorReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFeedback">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreateFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDownloadLog">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreateDownloadLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateDownloadLogAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterApplicationForDevice">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/RegisterApplicationForDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterApplicationForDevice2">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/RegisterApplicationForDevice2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForUpgrade">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CheckForUpgrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckForUpgradeAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLicenseForPurchase">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreateLicenseForPurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateLicenseForPurchaseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailLicense">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/EmailLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EmailLicenseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateLicense">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/ActivateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ActivateLicenseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicense">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/ValidateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateLicenseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLeaderBoard">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreateOrUpdateLeaderBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateOrUpdateLeaderBoardAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateLeaderBoardEntry">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreateOrUpdateLeaderBoardEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateOrUpdateLeaderBoardEntryAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationByInstaller">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/GetApplicationByInstaller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetApplicationByInstallerAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchaseForLatestVersion">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreatePurchaseForLatestVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreatePurchaseForLatestVersionAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchase">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/CreatePurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreatePurchaseAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationByKey">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/GetApplicationByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetApplicationByKeyAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationVersionByApplicationIDAndVersion">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/GetApplicationVersionByApplicationIDAndVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetApplicationVersionByApplicationIDAndVersionAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestApplicationVersionByApplicationID">
      <soap12:operation soapAction="http://quantumconceptscorp.com/connect/GetLatestApplicationVersionByApplicationID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLatestApplicationVersionByApplicationIDAuthorization" part="Authorization" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:60131/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:60131/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>